<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gtbluesky.mediamatrix">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.EGLTestActivity" />

        <activity
            android:name=".activity.SkyBoxActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.SkySphereActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ParticleEffectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.CameraPreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.CameraCutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.AudioRecordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />

        <activity
            android:name=".activity.PlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>